{{page-title "Jan21Repro"}}

{{outlet}}

<section>
  <p>Open the console, click the button below and see the helper log even though none of the values passed to it have changed</p>
  <button {{on "click" this.changeOther}}>Change "other"</button>
  <Parent @otherProperty={{this.otherProperty}} as |context|>
    <Child @context={{context}} />
  </Parent>
</section>