{{page-title "Jan21Repro"}}

{{outlet}}

<section {{on "mouseenter" this.changeOther}}>
  <button type="button" {{on "click" this.changeValue}}>Update value</button>
  <Parent @otherProperty={{this.otherProperty}} as |context|>
    <Child @context={{context}} @value={{this.value}} />
  </Parent>
</section>

{{!-- alternative --}}

{{!--
<section>
  <button type="button" {{on "click" this.changeValue}} {{on "click" this.changeOther}}>Update value</button>
  <Parent @otherProperty={{this.otherProperty}} as |context|>
    <Child @context={{context}} @value={{this.value}} />
  </Parent>
</section>

--}}